nav {
  height: 8vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--nav-color);
  border-top-style: solid;
  border-top-color: #ea00ff;
  box-shadow: var(--box-shadow-bottom);
  margin-top: 3rem;
}

nav img {
  height: 2rem;
}

@media (min-width: 768px) {
  nav {
    display: none;
  }
}
