.alcohol-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.alcohol-button {
  width: 18rem;
  background-color: var(--primary-card-color);
  border: solid 1px var(--primary-color);
  border-radius: 20px;
  padding: 0.5rem;
  color: aliceblue;
  margin-bottom: 10rem;
}

.cocktail-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  justify-items: center;
  margin-top: 1rem;
}
