.carousel {
  display: none;
}

@media (max-width: 768px) {
  .carousel {
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .scroll-carousel {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 10px 0;
  }

  .carousel-track {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    width: 70%;
    height: 100%;
  }

  .carousel-item {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 65%;
    height: 30vh;
    background-color: #2d192ba1;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    text-align: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    animation: scroll 10s infinite linear;
    animation-direction: alternate;
  }

  .carousel-item img {
    width: 85%;
    height: 60%;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 0.4rem;
  }

  .carousel-item h3 {
    font-size: 0.7rem;
    margin: 0;
  }

  .error-message {
    color: #ff4040;
    background-color: #fff5f5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    margin: 20px 0;
  }
}

.carousel-button a {
  text-decoration: none;
  color: #d0d0d0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel-button {
  background-color: var(--background-submit-button);
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .4s;
  box-shadow: 0px 0px 10px 0px rgba(2, 1, 2, 0.187);
}

@media screen and (max-width: 768px) {
  .carousel-button {
    background-color: var(--background-submit-button);
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s;
    box-shadow: 0px 0px 5px 0px rgba(2, 1, 2, 0.059);
  }
}

.carousel-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(165, 56, 149, 0.412);
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.carousel-button a:hover {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-item h3 {
  font-size: 0.7rem;
  margin: 0;
}
