.compte {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fond {
    background-size: 0%;
  }
}

@media screen and (min-width: 768px) {
  .desktop-compte {
    width: 700px;
  }

  .img {
    height: 100vh;
  }

  .img {
    background-image: url("https://s1.1zoom.me/b3760/685/Cocktail_Black_background_Two_Stemware_560594_3840x2160.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
  }
}

.compte h1 {
  color: var(--primary-color);
  text-align: center;
  text-shadow: var(--text-shadow);
}

.imput-compte {
  width: 18rem;
  background-color: var(--primary-card-color);
  border: solid 1px var(--primary-color);
  border-radius: 20px;
  height: 1.75rem;
  padding: 0 1rem;
  color: aliceblue;
}

.inputs-compte {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-compte p {
  color: var(--primary-color);
  text-shadow: var(--text-shadow);
  margin-top: 1rem;
  width: 90%;
  font-size: small;
}

.compte hr {
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-color: #d300e677;
  box-shadow: var(--text-shadow);
}

.button-compte {
  width: 18rem;
  height: 1.75rem;
  margin-top: 1.5rem;
  background-color: var(--background-submit-button);
  border: none;
  border-radius: 20px;
  color: #d0d0d0;
  padding: 0.25rem .5rem;
}

@media screen and (max-width: 768px) {
  .img-cocktail {
    display: none;
  }
}
