.ckt-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
@media screen and (min-width: 768px) {
  .ckt-detail-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
   }
}

.icones-social {
  height: 30px;
  width: 30px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .icones-social {
    height: 60px;
    width: 60px;
  }
}

.cktl-name {
  color: var(--primary-color);
  font-family: var(--font-family);
  text-shadow: var(--text-shadow);
  display: flex;
  justify-content: center;
  text-align: right;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cktl-name {
    /* flex-direction: column; */
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height:100px;
    
  } 
} 

@media screen and (min-width: 768px) {
  .btn-container {
    flex-direction: column;
    width: 62px;
    height: 62px;
  }
}
h2 {
  color: var(--primary-color);
  font-family: var(--font-family);
  text-shadow: var(--text-shadow);
}

@media screen and (min-width: 768px) {
  .header-card-container {
    display: flex;
    width: 100%;
    justify-content: left;
  }
}

.cktl-img {
  width: 13rem;
  height: 13rem;
  border-radius: 3rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .cktl-img {
    display: flex;
    width: 30rem;
    height: 25rem;
    
  }
}

.btn-container button {
  display: flex;
  flex-direction: column;
  background-color: var(--text-shadow);
  outline: none;
  align-items: center;
  justify-content: space-around;
 
}

.btn-shortcut {
  background-color: var(--font-family);
}
.share {
  width: 32px;
  
}
@media screen and (min-width:768px) {

  .share {
    width: 40px
  }
  
}

.btn-icone{
  display: flex;
  margin:0.5rem;
  gap: 0.5rem;
}

.fav-icone {
  width: 32px;
  list-style: none;
}
@media screen and (min-width:768px) {
  .fav-icone{
    width: 40px;
  } 
  
}
.ul {
  list-style: none;
}


.img-btn {
  display: flex;
flex-direction: row;
gap: 1rem;

}

@media screen and (min-width: 768px) {
  .img-btn {
    display: flex;
    justify-content: first baseline;
  }
}


.ckt-ingr ul {
  color: rgba(255, 251, 207, 0.727);
  text-shadow: 0px 0px 5px rgba(255, 248, 193, 0.282);
  list-style: none;
}
.ckt-ingr {
  color: rgba(255, 251, 207, 0.727);
  text-shadow: 0px 0px 5px rgba(255, 248, 193, 0.282);
  list-style: none;
}
@media screen and (min-width: 768px) {
  .ckt-ingr {
    text-align: left;
    list-style: none;
    color: rgba(255, 251, 207, 0.727);
    text-shadow: 0px 0px 5px rgba(255, 248, 193, 0.282);
    font-size: larger;
  }
}
@media screen and (min-width: 768px) {
  .ckt-ingr ul {
    text-align: left;
    list-style: none;
    color: rgba(255, 251, 207, 0.727);
    text-shadow: 0px 0px 5px rgba(255, 248, 193, 0.282);
  }
}
@media screen and (min-width: 768px) {
  .btn-text {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
}
.btn-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3rem 0;
}
