.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1rem;
}

.search-title {
  color: var(--primary-color);
  text-align: center;
  text-shadow: var(--text-shadow);
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.name-input {
  font-size: 18px;
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 2rem;
  background-color: var(--primary-card-color);
  border: solid 1px var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem;
  color: aliceblue;
  margin-bottom: 2rem;
}

.search-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.alcohol-filter-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.alcohol-button {
  width: 22rem;
  height: 4rem;
  background-color: var(--primary-card-color);
  border: solid 1px rgba(238, 0, 255, 0.253);
  border-radius: 15px;
  padding: 0.5rem;
  color: aliceblue;
  margin-bottom: 2rem;
  transition: .2s;
}

.alcohol-button:hover {
  transform: scale(1.05);
}

.alcohol-button p {
  color: var(--primary-color);
  font-family: var(--font-family);
  text-shadow: var(--text-shadow);
  font-size: 20px;
}

.cocktail-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
  margin-top: 1rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 91%;
    height: 100%;
  }

  .searchbar-container {
    align-items: center;
    width: 90%;
    margin-top: 0.2rem;
  }

  .scroll-container {
    height: 50vh;
    width: 90vw;
  }

  .scroll-in-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .name-input {
    width: 95%;
  }
  .alcohol-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 80%;
  }

  .alcohol-button {
    width: 7rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alcohol-button p {
    color: var(--primary-color);
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
    font-size: 16px;
  }

  .cocktail-results {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    place-items: center;
  }

  .cocktail-card {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
