.searchbar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imput {
  width: 70vw;
  background-color: var(--primary-card-color);
  border: solid 1px #d300e6;
  border-radius: 20px;
  height: 1.75rem;
  padding: 0 1rem;
  color: aliceblue;
}

.all {
  height: 625px;
}

.h3 {
  text-align: center;
  margin-top: 2rem;
}

.filtres {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-between;
  margin-top: 1rem;
}

.filtres-alcool {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 530px;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.filtres a {
  text-decoration: none;
  color: #d300e6;
  text-shadow: var(--text-shadow);
  height: 13rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtre {
  background-color: var(--primary-card-color);
  height: 13rem;
  width: 15rem;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d300e6;
  font-size: 2rem;
  font-family: var(--font-family);
  text-shadow: var(--text-shadow);
}

.filtre-choix-2 {
  background-color: var(--primary-card-color);
  height: 3rem;
  width: 20rem;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d300e6;
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-shadow: var(--text-shadow);
}
